/**CSS DE LA PAGE D'ACCUEIL*/

body {
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-family: "Indie Flower";
  background: #212121;
}
/*DISPOSITION DE MA PAGE EN GRID*/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 70px 0.4fr 0.5fr 0.5fr 50px;
  grid-template-areas:
    "nav nav nav nav"
    "main main main aside"
    "main main main aside"
    "section section section aside"
    "footer footer footer footer";
  grid-gap: 10px;
}
/*NAV-CONTENT*/
nav {
  grid-area: nav;
  display: flex;
  justify-content: space-around;
  background: #212121;
  margin-top: 1%;
}

.fa-cart-arrow-down {
  cursor: pointer;
  color: #eeeeee;
  text-decoration: none;
}

.fa-sign-out {
  text-decoration: none;
  color: #eeeeee;
}
.fa-book {
  color: white;
  text-decoration: none;
}

span {
  color: #eeeeee;
  font-size: 25px;
}
#recu-mobile {
  display: none;
}
/*MAIN-CONTENT*/
main {
  grid-area: main;
  background: #eeeeee;
}
.background-mobile {
  display: none;
}
h2,
p {
  text-align: center;
}
p {
  color: white;
}
.comics {
  background: url("comics.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/*carousel*/
img {
  width: 95%;
  margin: auto;
}

ul {
  position: absolute;
  padding-inline-start: 0;
  top: 55%;
  width: 1200px;
  height: 200px;
  left: 32.5%;
  margin-left: -400px;
  margin-top: -250px;
}

ul > li {
  width: 25%;
  list-style-type: none;
  position: absolute;
  top: 0;
  height: 200px;
  opacity: 0;
  padding-top: 40px;
  text-align: center;
  transition: 1s opacity;
}

.active {
  opacity: 1;
}

strong {
  color: #fff;
  font-weight: 700;
  font-size: 60px;
  line-height: 100px;
}
/*SECTION-CONTENT*/
section {
  grid-area: section;
  background: #eeeeee;
}
.livre {
  background: url("livre.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.container-filtrage {
  display: flex;
  height: 250px;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 10px;
  margin: auto;
}
#maListeAuteur {
  outline: none;
  border: 2px solid #212121;
  color: #212121;
  background: #eeeeee;
  border-radius: 10px;
  padding: 5px;
  appearance: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
#maListeAlbum {
  outline: none;
  border: 2px solid #212121;
  color: #212121;
  background: #eeeeee;
  border-radius: 10px;
  padding: 5px;
  appearance: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
option {
  color: #212121;
  font-weight: bold;
}
p {
  color: #212121;
  font-weight: bold;
}

.shops-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 10px;
}
.shop {
  margin: auto;
  width: 200px;
  height: 250px;
  position: relative;
  text-align: center;
}
.shop h3 {
  margin: 0;
}
.cartadd {
  border: 2px solid #212121;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #212121;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}
.cartadd:hover {
  color: #eeeeee;
  background: #212121;
}

.blocwhite {
  height: 100px;
}
/*ASIDE-CONTENT*/
aside {
  grid-area: aside;
  background: #eeeeee;
}
.suppr {
  display: flex;
  justify-content: center;
  margin: auto;
  border: none;
  border: 2px solid #212121;
  color: #212121;
  background: #eeeeee;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  cursor: pointer;
}
.suppr:hover {
  background: #212121;
  color: #eeeeee;
}
#nbarticle {
  color: #212121;
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*FOOTER-CONTENT*/
footer {
  grid-area: footer;
  background: #212121;
  display: flex;
  justify-content: space-around;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
}
.fa-facebook:hover {
  cursor: pointer;
  color: #1565c0;
}
.fa-instagram:hover {
  cursor: pointer;
  color: #e91e63;
}
.fa-twitter:hover {
  cursor: pointer;
  color: #2196f3;
}
.fa-linkedin:hover {
  cursor: pointer;
  color: #1a237e;
}
.fa-youtube:hover {
  cursor: pointer;
  color: #b71c1c;
}
.contact {
  display: flex;
  flex-direction: column;
  color: white;
}
.contact input {
  margin: 10px 0;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 2px;
}

textarea {
  resize: none;
}
iframe {
  width: 200px;
  height: 200px;
  margin-top: 2%;
}
.ephemeride {
  color: white;
  width: 200px;
  line-height: 100px;
}
#ephe {
  color: #eeeeee;
}
#banner-title {
  position: absolute;
  text-shadow: 0px 0px 10px black;
  margin-top: 0;
  left: 15%;
  color: #07aeef;
  z-index: 3;
}
.banner {
  position: relative;
  width: 700px;
  height: 200px;
}
.banner-image {
  max-width: 100%;
  height: 200px;
  z-index: 1;
  opacity: 60%;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 700px) {
  #c {
    display: none;
  }

  .container {
    height: 50vh;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1.5fr 1.5fr 1.5fr 0.5fr;
    grid-template-areas:
      "nav"
      "main"
      "section"
      "aside"
      "footer";
    grid-gap: 5px;
  }

  #recu-mobile {
    display: block;
    color: white;
  }
  #recu {
    display: none;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .fa-cart-arrow-down {
    font-size: 30px;
  }
  .fa-sign-out {
    color: #eeeeee;
    font-size: 30px;
  }
  .compte-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .compte-container h3 {
    margin-top: 2px;
    margin-right: 5px;
  }
  .background-mobile {
    display: block;
    background: url("venom.jpg");
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
  }
  .add-cart {
    right: 0;
    padding: 5px;
    margin-bottom: 5px;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #banner-title {
    font-size: 25px;
    position: absolute;
    text-shadow: 0px 0px 10px black;
    margin-top: 0;
    left: 15%;
    color: #07aeef;
    z-index: 3;
  }
  .banner {
    position: relative;
    width: 100%;
    height: 200px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 1505px) {
  #c {
    display: none;
  }
  .background-mobile {
    display: block;
    background: url("venom.jpg");
    max-width: 100%;
    height: auto;
  }
}
