/**CSS DE LA PAGE LOGIN*/
body {
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-family: "Indie Flower";
  background: #212121;
}
/*DISPOSITION DE MA PAGE EN GRID*/
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.2fr 1fr 0.2fr;
  grid-template-areas:
    "nav nav nav nav"
    "main main main main"
    "footer footer footer footer";
  grid-gap: 10px;
}
/*NAV-CONTENT*/
nav {
  grid-area: nav;
  display: flex;
  justify-content: space-around;
  background: #212121;
  margin-top: 1%;
}

.signup {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #eeeeee;
}
/*MAIN-CONTENT*/
main {
  grid-area: main;
  background: #eeeeee;
}
h2,
p {
  text-align: center;
  color: #eeeeee;
  text-shadow: 0px 0px 3px black;
}
.comics {
  background: url("../images/comics.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.content-login {
  display: flex;
  justify-content: center;
  width: 150px;
  margin: auto;
  transform: translateY(35%);
}
.content-login input {
  border: none;
  outline: none;
  border-radius: 20px;
  margin: 5px 0px;
  text-align: center;
  border: 2px solid #212121;
  padding: 10px;
}
#bloc-form {
  display: none;
  top: 75%;
  left: 45.5%;
  position: absolute;
  width: 200px;
  height: 70px;
  border: 2px solid #212121;
  background: #eeeeee;
  animation: bounce 0.1s ease infinite;
  text-align: center;
  line-height: 70px;
  font-size: 12px;
  font-weight: bold;
}
#return {
  display: none;
  position: absolute;
  top: 57%;
  left: 48.5%;
  color: #eeeeee;
  text-shadow: 2px 2px 3px black;
}
@keyframes bounce {
  from {
    top: 65%;
  }
  50% {
    top: 63%;
  }
  to {
    top: 65%;
  }
}
.lost {
  color: #eeeeee;
  text-shadow: 2px 2px 3px black;
  font-size: 10px;
  float: right;
}
#soumission {
  margin-left: 50px;
}
/*FOOTER-CONTENT*/
footer {
  grid-area: footer;
  background: #212121;
  display: flex;
  justify-content: space-around;
}

.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
}
.fa-facebook:hover {
  cursor: pointer;
  color: #1565c0;
}
.fa-instagram:hover {
  cursor: pointer;
  color: #e91e63;
}
.fa-twitter:hover {
  cursor: pointer;
  color: #2196f3;
}
.fa-linkedin:hover {
  cursor: pointer;
  color: #1a237e;
}
.fa-youtube:hover {
  cursor: pointer;
  color: #b71c1c;
}
/*MEDIA QUERIES*/
@media only screen and (max-width: 400px) {
  .container {
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1.5fr 0.2fr;
    grid-template-areas:
      "nav"
      "main"
      "footer";
    grid-gap: 5px;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .content-login {
    display: flex;
    justify-content: center;
    width: 150px;
    margin: auto;
    transform: translateY(100%);
  }
  #bloc-form {
    display: none;
    top: 75%;
    left: 15%;
    position: absolute;
    width: 200px;
    height: 70px;
    border: 2px solid #212121;
    background: #eeeeee;
    animation: bounce 0.1s ease infinite;
    text-align: center;
    line-height: 70px;
    font-size: 12px;
    font-weight: bold;
  }
  #return {
    display: none;
    position: absolute;
    top: 80%;
    left: 42.5%;
    color: #eeeeee;
    text-shadow: 2px 2px 3px black;
  }
}
